@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  display: block;
}
.container {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.sign-left {
  flex: 1;
  padding: 10px;
  border-radius: 20px 0px 0px 20px;
  padding-right: 15px;
  background-color: #d6daff;
}

.sign-right {
  flex: 2;
  height: 700px;
  width: 1000px;
  border-radius: 0px 20px 20px 0px;
}

h1 {
  text-align: center;
  color: #4a4e69;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-colum {
  flex: 1;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.required {
  color: red;
}

.hidden {
  display: none;
}

.input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.2s;
}

.input.error {
  border-color: red;
}

.error-message {
  margin-top: 5px;
  color: red;
  font-size: 0.9rem;
  position: absolute;
}

.avatar-group {
  text-align: center;
}

.avatar-upload {
  display: inline-block;
  position: relative;
}

.avatar-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #f4f4f4;
  border: 2px dashed #ccc;
  cursor: pointer;
  overflow: hidden;
}

.avatar-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  font-size: 40px;
  color: #ccc;
  width: 100%;
  height: 100%;
}

.file-input.hidden {
  display: none;
}

.sign-button {
  display: block;
  width: 100%;
  padding: 12px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sign-button:hover {
  background-color: #0056b3;
}
.toggle-visibility {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  color: #777;
}

.toggle-visibility:hover {
  color: #000;
}

.input-container {
  display: flex;
  align-items: center;
  border-radius: 5px;
}
